.form-container {
  width: 34%;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 6px #fff;

  &:active {
    outline: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.form {
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;

  &-label {
    margin-bottom: 10px;
  }

  &-input {
    width: 100%;
    padding: 4px;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: sans-serif;

    &-name {
      display: inline-block;
      color: #fff;
      font-family: sans-serif;
    }
  }
}
