.root {
  max-height: 100%;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 16px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
    border: 1px solid lightgray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.671);
    border-radius: 20px;
  }
  &-wrapper {
    width: 64%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 6px #fff;
  }
}
